<section class="contact">
  <form accept-charset="UTF-8" action="https://formkeep.com/f/dfb4ebb63019" method="POST" class="contact-form">
    <p>Say hello?</p>

    <input type="hidden" name="utf8" value="✓">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <textarea name="message" placeholder="Message" required></textarea>
    <button type="submit" class="form-button">Send message</button>
  </form>
</section>
